@font-face {
    font-family: 'Freshman';
    src: url('../fonts/Freshman.ttf');
}

.header-label{
    -fx-font-family: "Freshman";
    -fx-font-size: 80px;
    -fx-text-fill: #555;
}

.separator .line{
    -fx-border-color: -pbb-main-accent-color;
}