@font-face {
    font-family: 'Freshman';
    src: url('../fonts/Freshman.ttf');
}

.header-label{
    -fx-font-family: "Freshman";
    -fx-font-size: 80px;
    -fx-text-fill: #555;
}

.separator .line{
    -fx-border-color: -pbb-main-accent-color;
}

.decorator-button:hover ImageView{
    -fx-effect: innershadow( gaussian , -pbb-main-text-color , 7 , 1 , 1 , 1 );
}

.jfx-rippler{
    -jfx-rippler-fill: TRANSPARENT;
}