/**********************************************************************************************************************/
/*FONTS*/
@font-face {
    font-family: 'Primetime';
    src: url("../fonts/Primetime.ttf");
}

@font-face {
    font-family: 'DS-Digital';
    src: url("../fonts/DS-DIGIB.TTF");
}

/**********************************************************************************************************************/
/*LIST VIEW*/

/*Background of the list view and the cell*/
.jfx-list-view, .list-cell{
    -fx-background-color: -pbb-alt-background-color;
}

/*JFX list view entire outline*/
.jfx-list-view{
    -fx-border-color: -pbb-main-accent-color;
}

/*Cell color when selected but not focused or when hovered but not selected*/
.jfx-list-view .list-cell:filled:selected,
.jfx-list-view .list-cell:filled:hover{
    -fx-background-color: -pbb-row-hover-color;
}

/*Cell color when focused and selected or when hovered and selected*/
.jfx-list-view:focused .list-cell:filled:selected,
.jfx-list-view .list-cell:filled:selected:hover{
    -fx-background-color: -pbb-row-selected-color;
}

/*Adds border to the bottom of cells*/
.list-cell:filled{
    -fx-border-color: transparent transparent -pbb-main-accent-color transparent;
}

/*Color of text inside of focused cells*/
.jfx-list-view:focused .list-cell:filled:selected .label{
    -fx-text-fill: black;
}

/**********************************************************************************************************************/
/*LABELS*/
.position-label, .player-name-label{
    -fx-text-fill: -pbb-alt-text-color;
}

.position-label{
    -fx-font-family: Primetime;
}

.ballot-count-label{
    -fx-font-family: DS-Digital;
    -fx-font-size: 28px;
    -fx-text-fill: #CE0316;
    -fx-padding: 5 10 5 10;
    -fx-background-color: black;
    -fx-background-radius: 2;
}

.placeholder-label{
    -fx-text-fill: #4D4D4D;
}

/**********************************************************************************************************************/
/*JFX BUTTON*/
.jfx-button {
    -jfx-button-type: FLAT;
    -fx-background-radius: 2;
    -fx-border-radius: 2;
    -fx-background-color: -pbb-alt-background-color;
    -fx-border-color: transparent;
    -fx-text-fill: -pbb-main-accent-color;
    -fx-font-size: 14px;
}

.jfx-button:hover{
    -fx-background-color: -pbb-scroll-thumb-color;
    -fx-border-color: -pbb-main-accent-color;
    -fx-text-fill: -pbb-main-accent-color;
}